<ion-view title="Wishlist Details" class="wishlist-view">
<ion-content class="has-header" overflow-scroll="true" scrollbar-y="true" class = "padding-top padding dash-content">
  <div class="list" ng-repeat = "item in productlist">
    <a class="item item-avatar"  ng-click="viewFlagged($index)">
      <img src="{{ item.image }}">
      <h2>{{ item.name }} </h2>
      <p>Rs. {{ item.price.toFixed(2) }}</p>
    </a>
  </div>

  <div ng-show="productlist.length == 0" class="voucher-center">
      <i class="ion-alert"><h4>Sorry! No Wishlist Products available </h4></i>
  </div>

</ion-content>
</ion-view>


